{% extends "layouts/base_public.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="flex justify-start items-center mb-4">
    <h1 class="text-2xl font-bold text-gray-800">Set New Password</h1>
</div>
<div class="max-w-md mx-auto mt-12 p-6 bg-white rounded-md shadow overflow-hidden">
    <form method="post" action="{% url 'account_reset_password_from_key' %}" class="space-y-6">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_password1" class="block text-sm font-medium text-gray-700">New Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div>
            <label for="id_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <div>
            <button type="submit" class="w-full py-2 px-4 bg-yellow-400 hover:bg-yellow-500 font-semibold text-gray-800 rounded shadow">Set Password</button>
        </div>
    </form>
</div>
{% endblock %}