{% extends "layouts/base_public.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="flex justify-start items-center mb-4">
    <h1 class="text-2xl font-bold text-gray-800">Reset Password</h1>
</div>
<div class="max-w-md mx-auto mt-12 p-6 bg-white rounded-md shadow overflow-hidden">
    <p class="mb-6 text-gray-700 text-sm">Enter your email address below, and we'll send you instructions to reset your password.</p>
    <form method="post" action="{% url 'account_reset_password' %}" class="space-y-6">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_email" class="block text-sm font-medium text-gray-700">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <button type="submit" class="w-full py-2 px-4 bg-yellow-400 hover:bg-yellow-500 font-semibold text-gray-800 rounded shadow">Send Reset Link</button>
        </div>
    </form>
    <p class="mt-6 text-sm text-center text-gray-600">Remembered your password?<a href="{% url 'account_login' %}" class="text-yellow-500 hover:underline font-semibold"> Back to Login</a></p>
</div>
{% endblock %}